body {
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  gap: 20px;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.hero {
  background-color: orchid;
  flex: 1;
}

.sidebar {
  background-color: yellowgreen;
  flex: 2;
}

.main-content {
  background-color: yellow;
  flex: 3;
}

.extra-content {
  background-color: gray;
  flex: 1;
}

.related-images {
  background-color: green;
  flex: 5;
}

.related-posts {
  background-color: pink;
  flex: 2;
}

.header {
  background-color: aqua;
  width: 100%;
}

.related-content {
  display: flex;
  gap: 20px;
}

.footer {
  background-color: orange;
  width: 100%;
}
